{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed diam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed diam.</p>
{% endblock %}

{% block title %}
    {{ parent() }} | About Us

{% endblock %}

